@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: 'GreycliffReg';
  src: url('Fonts/GreycliffCF-Regular.eot');
  src: url('Fonts/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
       url('Fonts/GreycliffCF-Regular.woff2') format('woff2'),
       url('Fonts/GreycliffCF-Regular.woff') format('woff'),
       url('Fonts/GreycliffCF-Regular.ttf')  format('truetype'),
       url('Fonts/GreycliffCF-Regular.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'GreycliffBold';
  src: url('Fonts/GreycliffCF-Bold.eot');
  src: url('Fonts/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
       url('Fonts/GreycliffCF-Bold.woff2') format('woff2'),
       url('Fonts/GreycliffCF-Bold.woff') format('woff'),
       url('Fonts/GreycliffCF-Bold.ttf')  format('truetype'),
       url('Fonts/GreycliffCF-Bold.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'GreycliffBoldItalic';
	src: url('Fonts/GreycliffCF-BoldItalic.eot');
  src: url('Fonts/GreycliffCF-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Fonts/GreycliffCF-BoldItalic.woff2') format('woff2'),
       url('Fonts/GreycliffCF-BoldItalic.woff') format('woff'),
       url('Fonts/GreycliffCF-BoldItalic.ttf')  format('truetype'),
       url('Fonts/GreycliffCF-BoldItalic.svg#svgFontName') format('svg');
}
body {
	font-family: GreycliffReg;
	-webkit-text-size-adjust: none;
}
img {
	max-width: 100%;
	height: auto;
}
#main {
	padding: 40px;
	padding-top: 41px;
	margin-bottom: -2px;
}
#header {
	background-color: white;
	display: inline;
	width: 100%;
	height: 49px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}
#headertext {
	font-family: GreycliffBold;
	letter-spacing: 1px;
	margin-top: 13px;
	padding-left: 46px;
	display: inline;
	float: left;
}
#caption {
	font-family: GreycliffReg;
	font-size: 8pt;
	letter-spacing: .5px;
	line-height: 12pt;
	padding-top: 5px;
	margin-bottom: -4px;
}
.i {
	font-family: GregcliffBoldItalic;
	font-style: none;
	text-decoration: none;
	display: inline;
}
a:link, a:visited, a:hover {
	font-family: GreycliffBold;
	font-size: 8pt;
	color: #000;
	text-decoration: none;
	-o-transition: color .5s ease-out, background 5s ease-in;
 	-ms-transition: color .5s ease-out, background 5s ease-in;
	-moz-transition: color .5s ease-out, background 5s ease-in;
 	-webkit-transition: color .5s ease-out, background 5s ease-in;
 	transition: color .5s ease-out, background 5s ease-in;
}
a:hover {
	color: #fedd32;
}
#spacer {
	padding-right: 90px;
	display: inline;
}
#break {
	padding-bottom: 46px;
	display: block;
}
.bonetext { 
    opacity: 0; 
    transition: all 1s;
    position: fixed;
    top: 18px;
	right: 100px;
	font-size: 8pt;
	letter-spacing: .7pt;
}
a:hover +.bonetext {
    opacity: 1;
	color: #3D3D3D;
}
.bone {
	position: fixed;
	top: 6px;
    right: 45px;
	width: 45px;
	height: 35px;
}
#about {
	position: fixed;
	top: 49px;
	left: 0%;
	width: 100%;
	height: 165px;
	z-index: 99;
	background-color: #fff;
}
#abouttext {
	padding-left: 38%;
	margin-top: -127px;
	color: #000;
	font-family: GreycliffBold;
	font-size: 13pt;
	letter-spacing: .5px;
	line-height: 18pt;
}
#abouttext a:link, #abouttext a:visited {
	color: #fedd32;
	font-family: GreycliffBold;
	font-size: 13pt;
	letter-spacing: .5px;
	line-height: 18pt;
	text-decoration: none;
	-o-transition: color .5s ease-out, background 5s ease-in;
 	-ms-transition: color .5s ease-out, background 5s ease-in;
	-moz-transition: color .5s ease-out, background 5s ease-in;
 	-webkit-transition: color .5s ease-out, background 5s ease-in;
 	transition: color .5s ease-out, background 5s ease-in;
}
#abouttext a:hover {
	color: #000;
}
.aboutpic {
	padding-left: 20%;
	padding-top: 8px;
}
.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
	z-index: 1;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: -1;
}

@media only screen and (max-width: 785px) {
	a:hover +.bonetext {
    opacity: 0;
}
	.aboutpic {
		padding-left: 40px;
		padding-top: 8px;
}
	#abouttext {
		padding-left: 185px;
	}
}